<app-main-layout>
  <!-- Welcome Card -->
  <div class="bg-white/10 backdrop-blur-lg rounded-2xl border border-white/20 py-3 sm:py-5">
    <div class="flex items-center justify-between">
      <div>
        <h2 class="text-2xl font-bold text-primary mb-2">
          Bienvenido
        </h2>
        <p class="text-gray-500 text-sm">
          Selecciona un grupo para registrar asistencias.
        </p>
      </div>

      <button 
        (click)="openNewMemberModal()"
        class="flex items-center gap-2 px-4 py-2 bg-primary text-white rounded-xl font-medium hover:bg-primary/90 transition-colors cursor-pointer sm:flex hidden">
        <lucide-icon [img]="UserPlusIcon" class="w-5 h-5"></lucide-icon>
        <span class="hidden sm:inline">Nuevo Miembro</span>
      </button>
    </div>
  </div>

  <!-- Quick Stats -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div
      *ngFor="let group of groups()"
      class="rounded-lg border border-primary cursor-pointer"
      (click)="goToAttendances(group.id)"
    >
      <img [src]="group.front_img" alt="Jóvenes IMG" class="w-full h-48 object-cover rounded-t-lg">
      
      <div class="p-4">
        <div class="flex items-center justify-between">
          <h3 class="text-xl font-bold" [style.color]="group.color">{{ group.name }}</h3>
          <lucide-icon [img]="ChevronRightIcon" class="w-6 h-6" [style.color]="group.color"></lucide-icon>
        </div>
        <p class="text-sm text-gray-500 mt-2">{{ group.description }}</p>
      </div>
    </div>
  </div>

  <button 
    (click)="openNewMemberModal()"
    class="flex items-center justify-center gap-2 px-4 py-2 mt-8 bg-primary text-white rounded-xl font-medium hover:bg-primary/90 transition-colors cursor-pointer sm:hidden w-full">
    <lucide-icon [img]="UserPlusIcon" class="w-5 h-5"></lucide-icon>
    <span>Nuevo Miembro</span>
  </button>
</app-main-layout>

<!-- New Member Modal -->
<p-dialog 
  header="Nuevo Miembro"
  [(visible)]="isNewMemberModalOpen" 
  [modal]="true"
  [closable]="true"
  [style]="{ width: '28rem', margin: '0 10px' }">
  <app-new-member-form
    (saved)="onMemberSaved($event)"
    (cancelled)="closeNewMemberModal()">
  </app-new-member-form>
</p-dialog>

